@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9EFE9;
    margin: 0;
    height: 150vh;
    scroll-behavior:smooth;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #152F79;
    backdrop-filter: blur(3px);
    position: fixed;
    z-index: 10;
    box-shadow: 0px 0px 10px #000000b6;
    border-radius: 0px 0px 15px 15px;
}
.atras{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    min-width: 65px;
    font-size: 24px;
    height: 40px;
    margin-left: 20px;
    border-radius: 15px 5px 5px 15px;
    border: 0;
    background-color: #EF7215;
    color: #ffff;
    animation: boton-atras 2s infinite;
    cursor: pointer;
}

.input{
    margin-left:33%;
    width: 280px;
    min-width: 180px;
    height: 35px;
    border-radius: 15px ;
    border: 0px;
    outline: none;
    padding-left: 13px;
    font-size: 18px;
    
}
.span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    color: #ffff;
    width: 40px;
    height: 36px;
    font-size: 23px;
    border-radius: 0px ;
    transition: color 0.7s;
    cursor: pointer;
}
.span:hover{
    color: #EF7215;
    font-size: 21px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff80;
    backdrop-filter: blur(7px);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #ef731594;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #ef7315d0;
    backdrop-filter: blur(10px);
}

.contenido{
    display: grid;
    grid-template-columns: repeat(5 ,17%);
    grid-template-rows:repeat(3,31%) ;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
    width: 85%;
    height: 90%;
    background-color: transparent;
    margin-top: 70px;
    min-width: 84%;
    
}
.productos{
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid #c2c2c28e;
    background-image: url(Imagenes/camisa.jpg);
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
}
.productos:hover{
    transform: scale(1.01);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 80px;
    width: 100%;
    border-radius: 19px;
    background-color: #f0f0f048;
    backdrop-filter: blur(4px);
    border: 1px solid #c2c2c2;

}
.precio{
    font-size: 1.4rem;
    font-family: "Kalam", serif;
    
    height: 20px;
}
.comprar{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: 40px;
    border-radius: 25px;
    border: 0px;
    background-color: #152F79;
    font-family: "Kalam", serif;
    font-size: 1.5rem;
    color: #ffff;
    padding: 0;
    padding-left: 25px;
    margin-top: 10px;
    transition: color 0.5s ;
    transition: box-shadow 0.5s;
}

#carrito{
    margin-left: 25px;
    transition: color 0.1s ;
}
.comprar:hover, #carrito:hover{
    color:  #EF7215;
}
.comprar:hover{
    box-shadow: 0px 0px 10px #000;
}
    

.productos:nth-child(2){
    background-image: url(Imagenes/BUSO\ VERDE\ Y\ BLANCO.jpg);
}
.productos:nth-child(3){
    background-image: url(Imagenes/relog.jpg);
}
.productos:nth-child(4){
    background-image: url(Imagenes/buso-amarillo.jpg);
}
.productos:nth-child(5){
    background-image: url(Imagenes/camisa-rosada.jpg);
}
.productos:nth-child(6){
    background-image: url(Imagenes/GORRA.jpg);
    
}
@keyframes boton-atras{
    0%{transform: translateX(0px);}
    50%{transform: translateX(-15px); color: #152F79;}
    100%{transform: translateX(0px);}
}
@keyframes mensaje{
    0%{transform:scale(1);}
    25%{transform: scale(1.03) rotate(2deg);}
    50%{transform: scale(1) ;}
    75%{transform: scale(1.03) rotate(-2deg);}
    100%{transform: scale(1);}
}
.mensaje{
    justify-content: center;
    align-items: center;
    display:none;
    width: 450px;
    height: 50px;
    font-size: 24px;
    margin: 0%;
    margin-left: 360px;
    padding-top: 30px;
    font-family: "Ubuntu", serif;
    font-weight: 400;
    animation: mensaje 2s infinite;
}
#icono-x{
    display: none;
    font-size: 27px;
    cursor: pointer;
}
#icono-x:hover{
    font-size: 26px;
}